* {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
    font-family: "DM Sans", sans-serif;

}

header {
    background-image: url("IMG/image-header.png");
    width: auto;
    height: 700px;
    background-size: cover;

    h1 {
        color: white;

    }

    h1 #rap_fest {
        font-size: 100px;
    }

    h1 #URBAN_NIGHT {
        bottom: 50px;
    }

    h2 {
        color: white;

        font-size: 20px;
    }
}

nav {
    padding: 20px;

    img {
        padding-right: 300px;
    }

    ul {
        float: right;

        li a {
            color: white;
            text-decoration: none;
        }

    }


}

header nav ul li {
    color: white;
    display: inline;

}

.containerhero {
    width: 380px;
    margin: auto;
}

#presentation {
    .container {
        h2 {
            text-align: center;
            color: white;
            background-color: black;
        }

        p {
            background-color: black;
            color: white;
            text-align: center;
        }
    }
}

.sectionPadding {
    padding-block: 120px;
}

.bouton {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;


}
.secondary{
     background-color: white;
    color: black;
    
}

.imgbar{
    display: inline;
    width: 380px;
    margin: auto;

}
/* .container{
    max-width: 800px;
} */